---
layout: default
title: blog
public: true
---

<div>
    <h3>Blog</h3>

{% include pagination.html %}

    <ul>
{% for post in paginator.posts %}
    {% if post.public == true %}
        <li>
            <div class="post-item">
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                    <span>{{ post.title }}</span>
                </a>
                <div style="float: right;">{{ post.date | date: "%Y.%m.%d" }}</div>
                <div>- {{ post.summary }}</div>
                <ul class="tag-list">
        {% assign post_tags = post.tag | default: '' | split: ' ' %}
        {% for tag in post_tags %}
            {% if tag != '' %}
                    <li class="post-tag">
                        <a href="/tag/#{{tag}}" >#{{tag}}</a>
                    </li>
            {% endif %}
        {% endfor %}
                </ul>
            </div>
        </li>
    {% endif %}
{% endfor %}
    </ul>

{% include pagination.html %}

</div>
